.map-dialog-link {
  margin-left: 0.5em;
}
/*
body.page-admin #map {
  max-width: 550px;
}
*/
body.page-admin.page-admin-config-whereisit-areas-area #map,
body.page-admin.page-admin-config-whereisit-floors #map {
  max-width: none;
  margin: 1em 0 !important;
}

body.page-admin.page-admin-config-whereisit-floors #map {
  width: 100%;
}

#map {
  padding: 0 !important;
  float: left;
  display: block;
}
/*
#map-wrapper {
  width: 550px;
}
*/
body.page-where-areas .region-content .content {
  text-align:center;
}

body.page-where-areas-area div.content {
  float: left;
  width: 100%;
  text-align: center;
}

#where-link-wrap {
  width: 100%;
  float: left;
}

#where-back-link {
  margin: 1em 0em;
  clear: left;
}

#where-back-link:hover, #where-back-link:focus {
  background-color: #A76600;
}
