#map {
  padding: 0 !important;
  margin: 1em !important;
  float: left;
  display: block;
}

body.page-where-floors .region-content .content {
  text-align:center;
}

#where-back-link {
  margin: 1em 0em;
}

#where-back-link:hover, #where-back-link:focus {
  background-color: #A76600;
}
